pipeline/PL_data_ingestion_json_v5.json
{
	"name": "PL_data_ingestion_json_v5",
	"properties": {
		"activities": [
			{
				"name": "Copy web store online sales data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_online_files_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DLake_Online_sales_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "set SUCCESS status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy web store online sales data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_pl_Status",
					"value": {
						"value": "SUCCESS",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FAIL status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy web store online sales data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_pl_Status",
					"value": {
						"value": "FAILED",
						"type": "Expression"
					}
				}
			},
			{
				"name": "log pipeline metadata - SUCCESS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set SUCCESS status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"snapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapDate, 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_pl_Status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runID",
							"type": "Expression"
						},
						"sourceToTargetID": {
							"value": "99",
							"type": "Expression"
						},
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime, 'India Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.sysCode",
							"type": "Expression"
						},
						"dtastNm": {
							"value": "@pipeline().parameters.dsName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log pipeline metadata - FAILED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set FAIL status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"snapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapDate, 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_pl_Status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runID",
							"type": "Expression"
						},
						"sourceToTargetID": {
							"value": "99",
							"type": "Expression"
						},
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime, 'India Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.sysCode",
							"type": "Expression"
						},
						"dtastNm": {
							"value": "@pipeline().parameters.dsName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"sysCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"dsName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"runID": {
				"type": "string",
				"defaultValue": "1"
			},
			"snapDate": {
				"type": "string",
				"defaultValue": "2023-07-11"
			}
		},
		"variables": {
			"v_pl_Status": {
				"type": "String",
				"defaultValue": "SUCCESS"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-20T14:17:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}