pipeline/pl_orch_daily_batch_run.json
{
	"name": "pl_orch_daily_batch_run",
	"properties": {
		"description": "Daily batch run orchestration of ingestion pipeline",
		"activities": [
			{
				"name": "get BatchRun details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetBatch]",
						"storedProcedureParameters": {
							"PFrequency": {
								"type": "String",
								"value": {
									"value": "@variables('v_freq_')",
									"type": "Expression"
								}
							},
							"PSystemCode": {
								"type": "String",
								"value": {
									"value": "@variables('v_sysCode')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzSQL_Batch_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each batch run information",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get BatchRun details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get BatchRun details').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Run ingestion",
							"description": "PL_data_ingestion_json_v6",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_data_ingestion_json_v6",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sysCode": {
										"value": "@variables('v_sysCode')",
										"type": "Expression"
									},
									"dsName": {
										"value": "@item().DatasetName",
										"type": "Expression"
									},
									"runID": {
										"value": "@item().runID",
										"type": "Expression"
									},
									"snapDate": {
										"value": "@item().SnapShotDate",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_freq_": {
				"type": "String",
				"defaultValue": "DAILY"
			},
			"v_sysCode": {
				"type": "String",
				"defaultValue": "OWS"
			}
		},
		"folder": {
			"name": "orchestration"
		},
		"annotations": []
	}
}