pipeline/PL_util_send_email_notifications.json
{
	"name": "PL_util_send_email_notifications",
	"properties": {
		"activities": [
			{
				"name": "Get Email addresses",
				"description": "get email address for a specific sys code and dataset name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetEmailAddresses]",
						"storedProcedureParameters": {
							"DatasetName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DatasetName",
									"type": "Expression"
								}
							},
							"SystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SystemCode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzSQL_EmailRecipients",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach email address",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Email addresses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Email addresses').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Send Email",
							"description": "sending email notification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://app-adf-dataingestion-email-001.azurewebsites.net:443/api/app-name/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=3dwb0cnn1RJUfn-qk6T_BKiDh8yAAlo4phDmtxlsucY",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@json(concat('{\n\"emailAddress\":\"',item().EmailAddress,'\",\n\n\"messageBody\":\"  \n        ',pipeline().parameters.message,'\",\n\n\"subject\": \"IGNORE_INFO:: ',pipeline().parameters.subject,'.\"\n\n}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DatasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"SystemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"subject": {
				"type": "string"
			},
			"message": {
				"type": "string"
			}
		},
		"folder": {
			"name": "utilities"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-20T11:23:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}